{% extends 'blog/base.html' %}
{% block block-content%}
<div class="centerstage">
  {% for post in post_list %}
  <div class="post">
    <!-- below is one way to do it -->
    <!-- <h1><a href="/post/{{post.id}}">{{post.post_title}}</a></h1> -->
    <!-- but we are gonna use url template tagging -->
    <li><a href="{% url 'post_detail_view' pk=post.pk %}">{{post.post_title}}</a></li>
    <div class="date">
      <p>Published on: {{post.published_date|date:'d-m-y'}}</p>
    </div>
    <a href="{% url 'post_detail_view' pk=post.pk %}">Comments : {{post.approve_comment.count}}</a>
    <br>
  </div>
  {% endfor %}
</div>

{% endblock %}
